<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="content">
        <form id="form" action="/users/update" method="POST">
          <input type="hidden" name="originalEmail" value="{{.Email}}"/>
          <label class="centered">Edit User</label>
          <div id="inputForm">  
            <input
              type="text"
              name="Email"
              class="credentials"
              placeholder="Email"
              value="{{.Email}}"
            />
            
            <span></span>
            <input
              type="password"
              name="Password"
              class="credentials"
              placeholder="Enter Password"
              value="{{.Password}}"
            />
            <span></span>
          </div>
          <div id="buttonForm">
            <input
              id="SubmitForm"
              name="SubmitForm"
              type="submit"
              value="CHANGE"
            />
          </div>
        </form>

      </div>
      <a href="/users">Users</a>
    </div>
  </body>
</html>
